html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;

    color: #757575;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

:root {
    --bcg-main: #FFFFFF;
    --bcg-hero: #2F303A;
    --primary-text: #757575;
    --header-text: #212121;
    --accent: #2196F3;
    --white-text: #FFFFFF;
    --bcg-button: #F5F4FA; 
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* header */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 1px solid teal;
}

.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.main-nav, .nav {
    display: flex;
    align-items: center;
}

.page-header, .section {
    background-color: var(--bcg-main);
}

.logo {
    display: block;
    
    color: #000000;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;   
}

.page-header .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.accent {
    color: var(--accent);
}

.link {
    text-decoration: none;
}

.page-header .link {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;
}


.site-nav, .contacts {
    margin: 0;
    
    list-style-type: none;

    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.02em;
}

 .site-nav {
     display: flex;
 }

.site-nav .link {
    color: var(--header-text);
}

.site-nav .link.current {
    color: var(--accent);
}

.site-nav .item:not(:last-child),
.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .link {
    color: var(--primary-text);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent);
}


/* main Студия*/
.hero-section {
    margin: 0 auto;
    padding: 200px 0;

    max-width: 1600px;

    background-color: var(--bcg-hero);

    text-align: center;
}

 .page-title {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--white-text);
    width: 696px;
    height: 120px;
    

    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.button {
    margin: 0 auto;
    padding: 10px 32px;

    background-color: var(--accent);
    color: var(--white-text);
    border: none;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;

    cursor: pointer;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
}

.section-title {
    margin: 0;

    color: var(--header-text);

    font-weight: 700;
    font-size: 36px;
    text-align: center;
}



.section-list {
    display: flex;
    align-items: center;
    
}

.section-list .section-item:not(:last-child) {
    margin-right: 30px;
}

.section-benefits {
    padding: 94px 0;
}

.section-benefits .item-title {
    margin: 0;
    margin-bottom: 10px;

    color: var(--header-text);

    font-weight: 700;
    text-transform: uppercase;
}

.section-benefits .item-text {
    line-height: 1.7;
}


.section-img .section-title {
    margin-bottom: 50px;
}

.section-img {
    padding-bottom: 94px;
}

.section-team {
    background-color: var(--bcg-button);
}

.section-team {
    padding-bottom: 94px;
}

.section-team .section-title {
    margin-bottom: 50px;
    padding-top: 94px;
}

.section-team .section-item {
    background-color: var(--bcg-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-team {
    padding: 30px 0;
}

.section-team .section-item h3 {
    margin-bottom: 10px;

    color: var(--header-text);

    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.section-team .section-item p {
   
    font-size: 16px;
    text-align: center;
}



/* Footer */
.page-footer {
    padding: 60px 0;

    background-color: var(--bcg-hero);
}

.page-footer .logo {
    margin-bottom: 20px;

    color: var(--white-text);
}
.contacts-title {
    display: none;
}

.contact-list {
    list-style-type: none;

    font-style: normal;
    line-height: 1.7;
}

.contact-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.address .link {
    color: var(--white-text);
}

/* main Портфолио */

.buttons {
    justify-content: center;

    padding-top: 94px;
    padding-bottom: 50px;
}

.button-filter {
    padding: 6px 22px;

    color: var(--header-text);
    background-color: var(--bcg-button);
    border: 0mm;
    border-radius: 4px;
    cursor: pointer;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.buttons .list-item:not(:last-child) {
    margin-right: 8px;
}

.section-list .button-filter:hover,
.section-list .button-filter:focus {
    color: var(--white-text);
    background-color: var(--accent);
}

.card-set {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
}

.card-set > .list-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    padding-bottom: 94px;
}

.card {
   
}

.card-content {
    padding: 20px 24px;

    border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;

    border-top-style: none;
}

.card-heading {
    /* margin-bottom: 4px; */

    color: var(--header-text);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-text {
    margin-top: 4px;

    color: var(--primary-text);
    
    font-size: 16px;
    line-height: 1.9;
}


/* .cards  {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}

.cards .list-item {
    width: calc((100% - 60px)/3);
}

.cards .list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.cards .list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.section-list .link h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 4px;

    color: var(--header-text);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-list .link p {
    margin-bottom: 20px;

    color: var(--primary-text);

    font-size: 16px;
    line-height: 1.9;
} */


